#game {
display: grid ;
grid-template-rows: repeat(8, 8vmax);
grid-template-columns: repeat(8, 8vmax );

}

.dark-tile {
background-color: rgb(81, 42, 42);
}

.light-tile{
  background-color: blanchedalmond;
}

