#game {
display: grid ;
grid-template-rows: repeat(8, 10vmin);
grid-template-columns: repeat(8, 10vmin );
justify-content: center;

}

.dark-piece {
  background-color: black;
  border-radius: 50%;
  height: 20px;
  padding: 12px;
  width: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: 2px solid white;
}

h1 {
  text-align: center;
  font-size: 50px ;
}

.dark-tile {
background-color: rgb(81, 42, 42);

}

.light-tile{
  background-color: blanchedalmond;
  border: solid black;
}

#replay-button {
  align-items: center;

}
